body, html {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.heading{
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    color: black;
}



.board{
    align-items: center;
    text-align: left;
    padding-left: 300px;
    font-size: 28px;
}



.container{
display: flex;
margin-left: 20%;
}



.grid{
width: 200px;
height: 400px;
display: flex;
flex-wrap: wrap;
background-color: rgba(98, 0, 255, 0.137);
}



.grid div{
height: 20px;
width: 20px;
}




.tetromino{
    background-color: rgba(13, 0, 255, 0.777);
}




.mini-grid {
    margin-left: 50px;
    width: 110px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(98, 0, 255, 0.137);
  }



  .mini-grid div {
    height: 20px;
    width: 20px;
  }